

.footer {
    width: 100vw; 
    height: 4rem; 
    background: white; 
    color: black; 
    text-align: center; 
    position: relative; 
}

footer p{
    padding: 20px;
}


@media screen and (max-width: 840px) {
    .footer {
        height: auto; 
        padding: 15px;
        font-size: 0.9rem; 
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding: 10px;
        font-size: 0.8rem; 
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 8px; 
        font-size: 0.7rem;
    }
}
